
mehdi{
    display: inline-block;
    border:1px solid black;
  padding-left: 20px;
    background-color: rgb(222, 216, 216);
}
a{
    display: inline-block;
    border:1px solid black;
    padding: 20px;
    margin: 20px;
}